PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHI -1
STOREG 0
PUSHG 0
PUSHI 0
INF
STOREG 2
PUSHG 2
JZ ARZ1
JUMP F10
ARZ1:
PUSHG 0
PUSHI 0
EQUAL
STOREG 3
PUSHG 3
JZ F30
JUMP F20
F10:
PUSHI 100
STOREG 1
JUMP F40
F20:
PUSHI 200
STOREG 1
JUMP F40
F30:
PUSHI 300
STOREG 1
F40:
PUSHS "Resultado IF aritmetico:"
WRITES
PUSHG 1
WRITEI
WRITELN
STOP
