PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 1
PUSHI 2
STOREG 0
DOTEST1:
PUSHG 0
PUSHI 9
INFEQ
STOREG 3
PUSHG 3
JZ DOEND3
PUSHG 1
PUSHG 0
PUSHI 0
PUSHA CONVRT
CALL
STOREG 4
POP 2
PUSHG 4
STOREG 2
PUSHS "BASE "
WRITES
PUSHG 0
WRITEI
PUSHS ": "
WRITES
PUSHG 2
WRITEI
WRITELN
PUSHG 0
PUSHI 1
ADD
STOREG 5
PUSHG 5
STOREG 0
JUMP DOTEST1
DOEND3:
STOP
CONVRT:
PUSHN 11
PUSHI 0
STOREL 5
PUSHI 1
STOREL 2
PUSHL -2
STOREL 3
F20:
PUSHL 3
PUSHI 0
SUP
STOREL 6
PUSHL 6
JZ ENDIF7
PUSHL 3
PUSHL -1
MOD
STOREL 7
PUSHL 7
STOREL 4
PUSHL 4
PUSHL 2
MUL
STOREL 8
PUSHL 5
PUSHL 8
ADD
STOREL 9
PUSHL 9
STOREL 5
PUSHL 3
PUSHL -1
DIV
STOREL 10
PUSHL 10
STOREL 3
PUSHL 2
PUSHI 10
MUL
STOREL 11
PUSHL 11
STOREL 2
JUMP F20
ENDIF7:
PUSHL 5
STOREL 1
PUSHL 1
STOREL 0
RETURN
