PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHI 0
STOREG 1
PUSHI 10
STOREG 0
DOTEST1:
PUSHG 0
PUSHI 2
SUPEQ
STOREG 2
PUSHG 2
JZ DOEND3
PUSHG 1
PUSHG 0
ADD
STOREG 3
PUSHG 3
STOREG 1
PUSHG 0
PUSHI -2
ADD
STOREG 4
PUSHG 4
STOREG 0
JUMP DOTEST1
DOEND3:
PUSHS "Soma decrescente:"
WRITES
PUSHG 1
WRITEI
WRITELN
STOP
