PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHI 3
STOREG 0
PUSHI 7
STOREG 1
PUSHF -4.0
PUSHF 0.0
FINF
JZ ABSKEEP1
PUSHF -4.0
PUSHF 0.0
SWAP
FSUB
JUMP ABSEND2
ABSKEEP1:
PUSHF -4.0
ABSEND2:
STOREG 9
PUSHG 9
STOREG 3
PUSHF 9.0
STOREG 6
PUSHG 6
PUSHF 0.0
FINF
JZ SQRTZERO4
PUSHF 0.0
JUMP SQRTEND8
SQRTZERO4:
PUSHG 6
PUSHF 0.0
EQUAL
JZ SQRTONE5
PUSHF 0.0
JUMP SQRTEND8
SQRTONE5:
PUSHG 6
PUSHF 1.0
FINF
JZ SQRTNEG3
PUSHF 1.0
STOREG 7
JUMP SQRTLOOP6
SQRTNEG3:
PUSHG 6
STOREG 7
SQRTLOOP6:
PUSHG 8
PUSHI 8
INF
JZ SQRTDONE7
PUSHG 7
PUSHG 6
PUSHG 7
FDIV
FADD
PUSHF 2.0
FDIV
STOREG 7
PUSHG 8
PUSHI 1
ADD
STOREG 8
JUMP SQRTLOOP6
SQRTDONE7:
PUSHG 7
SQRTEND8:
STOREG 10
PUSHG 10
STOREG 4
PUSHG 0
PUSHI 2
SUPEQ
JZ MMLEFT9
PUSHG 0
JUMP MMEND10
MMLEFT9:
PUSHI 2
MMEND10:
STOREG 11
PUSHG 1
PUSHI 5
INFEQ
JZ MMLEFT11
PUSHG 1
JUMP MMEND12
MMLEFT11:
PUSHI 5
MMEND12:
STOREG 12
PUSHG 11
PUSHG 12
ADD
STOREG 13
PUSHG 13
STOREG 2
PUSHG 2
ITOF
STOREG 14
PUSHG 14
PUSHF 2.0
FDIV
STOREG 15
PUSHG 15
STOREG 5
PUSHS "Resultados:"
WRITES
PUSHG 3
WRITEF
PUSHG 4
WRITEF
PUSHG 2
WRITEI
PUSHG 5
WRITEF
WRITELN
STOP
