PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHS "Introduza um numero inteiro positivo:"
WRITES
WRITELN
READ
ATOI
STOREG 2
PUSHI 1
STOREG 1
PUSHI 2
STOREG 0
F20:
PUSHG 2
PUSHI 2
DIV
STOREG 3
PUSHG 0
PUSHG 3
INFEQ
STOREG 4
PUSHG 4
PUSHG 1
AND
STOREG 5
PUSHG 5
JZ ENDIF2
PUSHG 2
PUSHG 0
MOD
STOREG 6
PUSHG 6
PUSHI 0
EQUAL
STOREG 7
PUSHG 7
JZ ENDIF4
PUSHI 0
STOREG 1
ENDIF4:
PUSHG 0
PUSHI 1
ADD
STOREG 8
PUSHG 8
STOREG 0
JUMP F20
ENDIF2:
PUSHG 1
JZ ELSE7
PUSHG 2
WRITEI
PUSHS " e primo"
WRITES
WRITELN
JUMP ENDIF6
ELSE7:
PUSHG 2
WRITEI
PUSHS " nao e primo"
WRITES
WRITELN
ENDIF6:
STOP
