PUSHI 0
PUSHI 0
START
PUSHI 7
STOREG 0
PUSHI 5
STOREG 1
PUSHG 0
PUSHG 1
PUSHA MOSTRA
CALL
POP 2
STOP
MOSTRA:
PUSHN 2
PUSHL -2
PUSHL -1
ADD
STOREL 2
PUSHL 2
STOREL 1
PUSHS "Soma por subrotina:"
WRITES
PUSHL 1
WRITEI
WRITELN
RETURN
